<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cam_auto_adjusting_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="Slider_Z_01">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['Slider_Z_01']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Slider_R_01">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['Slider_R_01']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Tilt_01">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['Tilt_01']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Rotary_01">
                <command_interface name="position"/>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['Rotary_01']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <gazebo>
            <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find cam_auto_adjusting_config)/config/ros2_controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
